@model Coffee;

@{
    ViewData["Title"] = "Coffee Submitted";
}


<h1>Coffee Selected</h1>
<div>
    @Model.Name
</div>
<br />

<div>@Model.Description</div>



<br />
<a href="https://www.baristainstitute.com/blog/emmi-kinnunen/october-2019/affogato-ristretto-list-most-common-coffee-drinks">Source For Coffee Info</a>

