@model List<Coffee>;
@{
    ViewData["Title"] = "CoffeeShop";
}

<h1>CoffeeShop</h1>
@foreach (Coffee dr in Model)
{
    <div><a href="../CoffeeShop/CoffeeSubmitted?dr=@dr.ProductID">@dr.Name</a></div>
}

