
@{
    ViewData["Title"] = "CoffeeForm";

}

<h1>Coffee Form</h1>

<form method="post" action="/CoffeeShop/CoffeeSubmitted">
    First Name <input type="text" name="FirstName"/> <br />
    Creamer <input type="text" name="Creamer"/><br />
    Sugar Type <input type="text" name="SugarType"/><br />
    <input type="submit"/>
</form>
